* {
  box-sizing: border-box;
}

html,
body  {
  margin: 0;
  background-image: linear-gradient(to left top, #ff4fca, #f960d7,
  #f26fe2, #eb7dec, #e489f5, #dc86f8, #d384fa, #c982fd, #ba72fc,
  #a961fb, #9652fb, #8042fb);
  font-family: "Arial";
}

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  
}

.bm-item:hover {
  color: rgba(248, 206, 143, 0.8);
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #9255ecd3;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #9255ecd3;
}

/* Wrapper for item list */
.bm-item-list {
  color: #9255ecd3;
}

/* Styling of overlay */
.bm-overlay {
  background: #9255ecd3;
}

