* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Null-Family';
}

html,
body  {
  margin: 0;
  background-image: linear-gradient(to left top, #ff4fca, #f960d7,
  #f26fe2, #eb7dec, #e489f5, #dc86f8, #d384fa, #c982fd, #ba72fc,
  #a961fb, #9652fb, #8042fb);
  font-family: "Null-Family";
}


