.bgImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.Trigger {
  color: rgb(248, 206, 143);
  background: rgb(0, 0, 0);
  top: 0;
  position: fixed;
  width: 21%;
  font-size: 240%;
  letter-spacing: 4.2px;
  font-style: italic;
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px rgb(247, 244, 244);
  border: 1px solid rgb(255, 255, 255);
}

.Trigger:hover {
  background-color: rgba(24, 24, 24, 0.932);
}

.navbarContent {
  background-color: black;
  box-shadow: 1px 1px 2px 1px rgba(247, 245, 245, 0.979);
  color: rgb(248, 206, 143);
  cursor: pointer;
  top: 0;
  position: sticky;
  min-width: 404px;
  text-align: center;
  font-size: x-large;
  border: 1px solid rgb(255, 255, 255);
}

.navbarItem {
  padding: 5px 10px;
}

.navbarItem:focus {
  background-color: rgba(41, 40, 40, 0.911);
}

.navBox {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: sticky;
}

.homeContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

.textBox {
  justify-content: center;
  align-items: center; 
  display: flex;
  font-size: 300%;
  letter-spacing: 4px;
}

.kikiWhat {
  color: rgb(248, 206, 143);
  animation: fadeIn 4.5s;
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.homeContainer1,
.homeContainer2 {
  width: 100%;
  height: 50%;
  position: absolute;
  display: flex;
  align-items: center;

}

.imgContainer {
  display: flex;
  margin: 10.56px;
  padding: 200px;
  border-radius: 25px;
  border: 2px solid rgb(255, 255, 255);
  animation: fadeIn 8s;
  background-image: url("/img1.jpg");
  background-size: cover;
}

.imgContainer2 {
  display: flex;
  margin: 10.56px;
  padding: 200px;
  border-radius: 25px;
  border: 2px solid rgb(255, 255, 255);
  animation: fadeIn 8s;
  align-items: flex-start;
  background-image: url("/img2.jpg");
  background-size: cover;
}
.textContainer {
  display: flex;
  border-radius: 25px;
  margin: 218px;
  border: 4px double rgb(255, 255, 255);
  animation: fadeIn 11s;
  color: rgb(248, 206, 143);
  font-size: 180%;
  align-items: flex-start;
  padding-bottom: 25px;
  padding-top: 22px;
  padding-left: 11px;
  padding-right: 9px;
  animation: fadeIn 6s;
  text-indent: 50px;
}

.homeContainer {
  display: flex;
}